%primary-heading {
    color: $primary-dark;
    font-size: $primary-heading;
    text-transform: capitalize;
    margin-bottom: 2rem;
}
%paragraph {
    color: $primary-light;
    font-size: $paragraph;
}