// Colors
//# primary colors
$primary-dark: #242f51;
$primary-light: #616368;
$primary-blue: #2230ff;

//#secondry colors
$secondary-red: #f55767;
$secondary-blue: #2563ff;
$secondary-green: #40975f;

//fonts size
$hero-heading: 4rem;
$primary-heading: 2.8rem;
$secondary-heading: 2rem;
$paragraph: 1.5rem;
